{{>toastMessage message}}
<form class='table_product' id="table_trashProduct" method="post" action="/receipt/handle-Action">
    <div class='title'>
        <h2>Phiếu nhập đã xóa</h2>
        <hr />
    </div>
    <div class='topbar__table'>
        <div class='topbar__table--add'>
            <button>
            <i class="fa-solid fa-arrow-left add"></i>
                <a href='/receipt'>Quay lại</a>
            </button>
        </div>
    </div>
     <div class="selectAction">
        <div class="form-checkAll">
            <input type="checkbox" id="checkAll" class="form-checkAll-input">
            <label for="checkAll" class="label-form-checkAll">Chọn tất cả</label>
        </div>
        <select name="action" class="select-Action" id="action" required>
            <option value="" >-- Hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="force">Xóa vĩnh viễn</option>
        </select>
        <button type="submit" class="submit" disabled>Thực hiện</button>
    </div>
    <div class='tables'>
        <table>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Mã Phiếu Nhập</th>
                <th>Ngày xóa</th>
                <th>Xóa bởi</th>
                <th>Khôi phục</th>
                <th>Xóa vĩnh viễn</th>

            </tr>
            {{#if receipts}}
            {{#each receipts}}
                <tr>
                    <td>
                        <div class="form-checkAll">
                            <input type="checkbox" id="{{this._id}}" value="{{this._id}}" name="receipts" class="form-check-input">
                        </div>
                    </td>
                     
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{convertToDate this.deletedAt}}</td>
                    <td>{{this.deleteBy.name}}</td>
                    <td>
                        <a  id="restore-receipt" data-id='{{this._id}}'><i class="fa-solid fa-rotate-left"></i></a>
                    </td>
                    <td>
                        <button id='force_Destroy-receipt' data-id='{{this._id}}'><i class='fa-solid fa-trash remove'></i></button>
                    </td>
                </tr>
            {{/each}}
            {{else}}

            <td colspan="10">Thùng rác trống.</td>
            {{/if}}
        </table>
    </div>
</form>
<script src='/js/modalRestore.js'>

</script>