{{>toastMessage message}}

<form class='table_product' method='post' action='/sizeProduct/handle-Action'>
    <div class='title'>
        <h2>Sizes Products</h2>
        <hr />
    </div>
    <div class='topbar__table'>
        <div class='topbar__table--add'>
            <button>
                <i class='fa-solid fa-plus add'></i>
                <a href='/sizeProduct/createSize'>Thêm</a>
            </button>
           <button>
            <i class="fa-solid fa-trash trash"></i><a href='/sizeProduct/trash'>Thùng Rác</a>
            <p class="countTrash">{{getCountSize countSize}}</p>
            </button>
        </div>
         <div class='search__products'>
            <div class="header-search">
                <input type='text' class="search-input" id="search" placeholder='Searching...' />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="search-contain">
                {{#each searchSize}}
                 <a href="?_search&slug={{this._id}}" class="search-contain__product">
                    <div class="second-product" data-id="{{this._id}}">
                        <div class="title-product">{{this.id_product.title}}</div>
                        <div class="price-product">{{this.name}}</div>
                    </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class='selectAction'>
        <div class='form-checkAll'>
            <input type='checkbox' id='checkAll' class='form-checkAll-input' />
            <label for='checkAll' class='label-form-checkAll'>Chọn tất cả</label>
        </div>
        <select name='action' class='select-Action' id='action' required>
            <option value=''>-- Hành động --</option>
            <option value='delete'>Xóa</option>
        </select>
        <button type='submit' class='submit' disabled>Thực hiện</button>
    </div>
    <div class='tables'>
        <table>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Tên Size{{{sortable 'name' _sort}}}</th>
                <th>Xem</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
            {{#if product}}
                {{#each product}}
                    <tr>
                        <td>
                            <div class='form-checkAll'>
                                <input
                                    type='checkbox'
                                    id='{{this._id}}'
                                    value='{{this._id}}'
                                    name='sizes'
                                    class='form-check-input'
                                />
                            </div>
                        </td>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.id_product.title}}</td>
                        <td>{{this.name}}</td>
                        <td>
                            <a href='/sizeProduct/{{this._id}}'><i class='fa-solid fa-eye'></i></a>
                        </td>
                        <td>
                            <a href=''><i class='fa-solid fa-pen'></i></a>
                        </td>
                        <td>
                            <button id='delete-size' data-id='{{this._id}}'><i
                                    class='fa-solid fa-trash remove'
                                ></i></button>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <td colspan='8'>Size sản phẩm trống! Hãy thêm Size SP</td>
            {{/if}}
        </table>
    </div>
    <div class='paging'>
        {{#if product}}
        <ul>
            {{{pageView _page paging}}}
        </ul>
        {{/if}}
    </div>
</form>
<script src='/js/modalDelete.js'>

</script>